#header {
	background: #CEE681;
	color: #FFFFFF;
	padding: 1px;
	width: 1350px;
	height: 80px;
	font-family:Comic Sans MS;
	float: left;
	font-size:14px;
}
.terus
{
	float: right;
	color: #FFFFFF;
	font-size:23px;
}

.isi{
	font-family:Comic Sans MS;
}

.ketengah{
	margin: 10px auto;
	width: 1150px;
	color: #FFFFFF;
	font-family:Comic Sans MS;
	font-size:35px;
	
}

.kotak{
	background: #F2F5A7;
	padding: 20px;
	width: 302px;
	margin: 20px;
	height: 280px;
}

.kotak1{
	border-radius: 10px 10px 10px 10px;
}

.nyala {
	color: white;
	background: #CEE681;
	padding: 24px;
}
.nyala1 {
	color: white;
	background: #CEE681;
	padding: 18px;
}

.nyala2 {
	color: white;
	background: #CEE681;
	padding: 15px;
}

.footer{
	background: #CEE681;
	color: #FFFFFF;
	padding: 1px;
	width: 1350px;
	height: 30npx;
	font-family:Comic Sans MS;
	text-align:center;
	top: 974px;
}
